.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.primary-color {
    color: tomato;
  }

.primary-button{
    background-color: tomato;
    border-radius: 10px;
    padding: 15px;
    border: 0px;
   
}  

a{
    text-decoration: none; 
}

 /* navbox style*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    
}
nav ul li {
    margin: 10px;
}